.farm-animals {
    background-image: url("./images/lv-492_1024x1024.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.home-page {
    background-image: url("./images/forest.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.colors-page {
    background-image: url("./images/rainbow.jpeg");
    background-size: cover; 
    background-repeat: no-repeat; 
}

.shapes-page {
    background-image: url("./images/wintery.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.game-div {
    height: 80vh;
    
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Concert One', cursive, sans-serif;
    font-size: 3em; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: red;
    margin-top: 0px;
    margin-bottom: 5px;
}

h3 {
    display: flex;
    justify-content: center;
    font-family: 'Concert One', cursive, sans-serif;
    font-size: 3em; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: blue;
}

.instructions {
    display: flex;
    justify-content: center;
    font-family: 'Concert One', cursive, sans-serif;
    font-size: 3em;
    color: rgb(21, 19, 141);
    margin-top: 0px; 
}

.wrong {
    display: flex;
    justify-content: center;
    font-family: 'Concert One', cursive, sans-serif;
    font-size: 3em;
    color: red;
}

.col-md-4 {
    text-align: center;
}

.hide {
    display: none;
}

.farm {
    justify-content: center;
}

.games {
    margin-top: 15%;
}

.btn {
    /* position: absolute; */
    font-family: 'Sniglet', cursive, sans-serif;
    color: gold;
    font-size: 3em;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    background: transparent;
    border: none;
    transition: .3s ease;
}

 .btn:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: red
} 

.home-btn {
    display: flex;
    justify-content: flex-start;
}

.button {
    margin-top: 45%;
}

.start-btn {
    
    justify-content: center;
    height: 70vh;
    /* text-align: center; */
    /* justify-content: center; */
    /* margin: 0; */
    /* position: absolute; */
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
} 

.colors {
    font-size: 2em;
    -webkit-filter: drop-shadow(2px 2px 2px #1f1d1d);
        filter: drop-shadow(2px 2px 2px #1f1d1d);
}

.grow:hover {
    transform: scale(1.2);
    cursor: pointer;
    transition-duration: .3s;
}

/* .row-2 {
    margin-top: 10%;
} */